* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #eeeeee;
}
.container {
  position: absolute;
  padding: 0;
  margin-top: 10%;
  margin-left: 40%;
}
.header {
  background-color: #fff;
  max-width: fit-content;
  padding: 1em;
  font-family: "Lato", sans-serif;
  font-size: large;
}
img {
  padding: 0 4em 2em 4em;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
i{
  color: #ff0000;
}
.footer {
  background-color: #fff;
  border-top: 2px solid #eeeeee;
  width: 28.1em;
  height: 4.5em;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
}
.atFooter {
  margin-top: 0.3em;
  margin-left: 1.2em;
  line-height: 1.5;
}
h2 {
  font-family: "Fredoka", sans-serif;
  font-weight: lighter;
  padding-right: 1.1em;
}
h4 {
  color: #8aa68d;
  font-weight: lighter;
  font-family: "Rubik", sans-serif;
}
button {
  position: inherit;
  margin-top: 0.5em;
  margin-right: 1.1em;
  width: 7em;
  height: 3em;
  border-radius: 4px;
  padding: 0.7em;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #3466ec;
  color: #fff;
}
